<html>
  <head>
    <title>Welcome Page</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>Your User</p>
    <form id="userIdToAdd"  action="/signin" method="POST">
      <label for="name">Your name:</label>
      <input type="text" name="yourname" id="yourname" placeholder="Your Name..">
      <label for="username">User Name or Email:</label>
      <input type="email" name="username" id="username" placeholder="Your username or email..">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="Example Wefg@-*1+..">
      <button type="submit">Sign in</button>
    </form>
  </body>
</html>