<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta eliminadar</title>
</head>
<body>
    <h1>Tu Cuenta fue eliminada</h1>
    <h1>Your User Was deleted from our site</h1>
    <p>Your User ID: <%= xId %></p>
</body>

<script>
    setTimeout(function() {
        window.location.href = "/"; 
    }, 5000); 
</script>
</html>